.goldenTextShadow {
  text-shadow: 0px 0px 20px #ffd90080;
}

.first {
  margin: 0 auto; /* Center the first <p> horizontally */
}

.second {
  margin-left: auto; /* Push the second <p> to the end */
}
